.fullGamePage{
    background-image: url("../../../img/wallPaper/wp2.jpg");
    min-width: 100vw;
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.gamePage{
    
}
.gameBody{
    margin: auto;
    display: flex;
    width: 1250px;
}
.gameMid{
}
.gameLeft{
    border-right: 3px white solid;
}